html, body {
    height: 100%;
}

input {
    display: block;
    margin: 16px 2px;
}

p {
    margin: 16px 0px;
}

b {
    font-weight: bold;
}

.letter-panel {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.letter-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.letter {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3px;

    overflow: hidden;

    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.keyboard {
    position: fixed;
    bottom: 0;
    width: 100%;

    background: rgba(255, 255, 255, 0.75);
    padding: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.key {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3px;

    overflow: hidden;

    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}
